<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contoh Layout dengan Elemen Sematik</title>
</head>

<body style="background-color: rgba(130, 129, 140, 0.817);">

    <header style="background-color: rgb(230, 232, 233);">
        <h1 style="text-align:center">Pohon Jati: Jenis, Manfaat, Habitat dan Karakteristiknya</h1>
        <center>
        <img src="pohonjati.jpg" width="500px">
        </center>
      </br>
    </header>

    <nav>
      <a href="#jenisjati">Jenis-Jenis Pohon Jati</a> 
      <a href="#manfaatjati">Manfaat Pohon Jati</a>
      <a href="#habitatjati">Habitat Pohon Jati</a>
      <a href="#karakteristikjati">Karakteristik Pohon Jati</a>
    </nav>
    <p style="background-color: rgb(230,232,233);">
      Pohon jati merupakan pohon yang menghasilkan kayu berkualitas tinggi. Pohon jati ini memiliki kayu yang kuat dan awet untuk membuat furniture. Kayu dari pohon jati merupakan kayu berkualitas tinggi dan dihasilkan dari pohon yang berumur lebih dari 80 tahun.

Pohon jati dapat tumbuh hingga ratusan tahun, di Indonesia pohon jati terbesar dan tertua yaitu pohon 'Jati Denok' yang tumbuh di Blora, Jawa Tengah.
    </p>

    <article style="background-color:rgb(230, 232, 233)" id="jenisjati">
       <h1>Jenis-Jenis Pohon Jati</h1>
       <p>
        Di masyarakat Jawa terdapat beberapa jenis pohon jati yaitu:
      </br>
      </br>
        1. Jati lengo atau jati malam, pohon ini memiliki kayu yang keras, berat, terasa halus apabila diraba dan seperti mengandung minyak. Jati lengo juga berwarna gelap, berbercak, dan bergaris.
      </br>
        2. Jati sungu, berwarna hitam, padat, dan berat.
      </br> 
        3. Jati werut, yaitu pohon jati yang memiliki kayu yang keras dan serat berombak.
      </br>
        4. Jati doreng, berkayu sangat keras dengan warna loreng-loreng hitam menyala, sangat indah.
      </br> 
        5. Jati kembang.
      </br> 
        6. Jati kapur, kayunya berwarna keputih-putihan karena mengandung banyak kapur. Kurang kuat dan kurang awet.
       </p>
    </article>
    <article style="background-color:rgb(230, 232, 233)" id="manfaatjati">
        <h1>Manfaat Pohon Jati</h1>
        <p>
          Pohon jati terdiri dari beberapa bagian yang memiliki manfaat sebagai berikut:
        </br>
        </br>

1. Daun Jati

Daun jati dapat dimanfaatkan sebagai pembungkus makanan. Nasi yang dibungkus dengan daun jati akan terasa lebih nikmat. Contohnya adalah nasi jamblang yang terkenal dari Cirebon. Selain itu daun jati juga banyak digunakan di Yogyakarta, Jawa Tengah, dan Jawa Timur sebagai pembungkus tempe.</br>

2. Hama Jati

Berbagai jenis serangga hama jati juga sering dimanfaatkan sebagai bahan makanan orang desa. Dua di antaranya adalah belalang jati (Jw. walang kayu), yang besar berwarna kecoklatan, dan ulat jati (Endoclita). Ulat jati bahkan kerap dianggap makanan istimewa karena lezatnya.</br>

3. Kayu Jati

Kayu jati dimanfaatkan untuk membangun rumah dan juga alat pertanian. Kayu jati pada masa perang juga digunakan untuk membangun kapal-kapal niaga dan kapal-kapal perang. Saat ini kayu jati digunakan sebagai furnitur.</br>

        </p>
    
    </article>
    <article style="background-color:rgb(230, 232, 233)" id="habitatjati">
    <h1>Habitat Pohon Jati</h1>
    <p>
      Pohon Jati menyebar luas mulai dari India, Myanmar, Laos, Kamboja, Thailand, Indochina, sampai ke Jawa. Pohon Jati sendiri tumbuh di hutan-hutan gugur, yang menggugurkan daunnya di musim kemarau.

Pohon Jati dapat bertumbuh di iklim kering yang nyata, namun tidak terlalu panjang. Memiliki curah hujan antara 1.200-3.000 mm per tahun dan dengan intensitas cahaya yang cukup tinggi sepanjang tahun.

Ketinggian tempat yang optimal adalah antara 0 - 700 m dpl; meski jati bisa tumbuh hingga 1.300 m dpl.</br>

Di luar Jawa, pohon jati dapat ditemukan di Pulau Sulawesi, Pulau Muna, daerah Bima di Pulau Sumbawa, dan Pulau Buru. Pohon jati berkembang juga di daerah Lampung di Pulau Sumatera.

Sedangkan di Jawa, pohon jati menyebar di pantai utara Jawa, mulai dari Kerawang hingga ke ujung timur pulau ini. Namun, hutan jati paling banyak menyebar di Provinsi Jawa Tengah dan Jawa Timur.

Di kedua provinsi ini, hutan jati sering terbentuk secara alami akibat iklim muson yang menimbulkan kebakaran hutan secara berkala. Hutan jati yang cukup luas di Jawa terpusat di daerah alas roban Rembang, Blora, Groboragan, dan Pati. Bahkan, jati jawa dengan mutu terbaik dihasilkan di daerah tanah perkapuran Cepu, Kabupaten Blora, Jawa Tengah.

    </p>
    </article>
    <article style="background-color:rgb(230, 232, 233)" id="karakteristikjati">
      <h1>Karakteristik Pohon Jati</h1>
      <p>
        1. Tinggi pohon dapat mencapai 50 meter hingga 1,2 meter.</br>

        2. Umur pohon jati biasanya adalah diatas 40 tahun.</br>

        3. Pohon jati tumbuh sangat lambat sehingga densitas kayunya pun lebih baik. Untuk tumbuh sebesar 40 cm dibutuhkan minimal 50 tahun masa tumbuh pohon jati.</br>
      </p>
    </article>
    <footer style="background-color:rgb(230, 232, 233)">
      Copyright &copy; 2022 by Anggun Vannia
    </footer>
    
</body>

</html>